.sidebar {
  display: flex;
  justify-content: center;
  width: max(275px, 19%);
  padding-bottom: 5vh;
  border-right: 1px solid var(--line-color);

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 220px;
  }

  &__adv {
    margin-top: 15vh;
    margin-bottom: 10vh;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &--line {
      width: 48px;
      height: 1px;
      background: var(--dark-color);
    }

    &--more {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.1;
      color: var(--dark-color);
      transition: color .2s ease-in;

      &:hover {
        color: var(--accent-color);
      }

      &:active {
        opacity: .8;
      }

      &:focus {
        color: var(--accent-color);
      }
    }
  }
}
