<footer class="footer">
  <ul class="footer__menu list-reset">
    <li class="footer__item">
      <a href="#" target="_blank" class="footer__link font-styles" aria-label="facebook">fb</a>
    </li>
    <li class="footer__item">
      <a href="#" target="_blank" class="footer__link font-styles" aria-label="linkedin">tw</a>
    </li>
    <li class="footer__item">
      <a href="#" target="_blank" class="footer__link font-styles" aria-label="twitter">in</a>
    </li>
  </ul>
  <ul class="footer__menu list-reset">
    <li class="footer__item">
      <a href="#" class="footer__link font-styles">manufacturing</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link font-styles">packaging</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link font-styles">team</a>
    </li>
  </ul>
</footer>
