<header class="sidebar">
  <a class="sidebar__mobile-logo logo">
    <img loading="lazy" src="img/svg/logo.svg" class="logo__img" width="116" height="28" alt="logo">
  </a>
  <div class="sidebar__body js-menu">
    <a class="sidebar__logo logo">
      <img loading="lazy" src="img/svg/logo.svg" class="logo__img" width="116" height="28" alt="logo">
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Shoes</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Bags</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Accessories <span class="nav__tag tag">New</span></a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Support</a>
        </li>
      </ul>
    </nav>

    <div class="sidebar__adv adv">
      <div class="adv__bg">
        <span class="adv__bg--text">Extra</span>
      </div>
      <div class="adv__clean">
        <span class="adv__bg--text">Foot</span>
      </div>
      <div class="adv__bg">
        <span class="adv__bg--text">Care</span>
      </div>
      <div class="adv__clean">
        <span class="adv__bg--text">Tech</span>
      </div>
      <div class="adv__more">
        <div class="adv__line"></div>
        <a href="#" class="adv__link">learn more</a>
      </div>
    </div>

    <div class="scroll js-scroll">
      <a href="#" class="scroll__link">Scroll down</a>
    </div>
  </div>
  <div class="sidebar__user-panel user-panel">
    <form action="#" class="search">
      <button type="button" class="search__btn btn-reset js-btn">
        <svg class="search__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <a href="#" class="user-panel__item ">
      <svg class="user-panel__icon">
        <use xlink:href="img/sprite.svg#basket"></use>
      </svg>
    </a>
    <a href="#" class="user-panel__item ">
      <svg class="user-panel__icon">
        <use xlink:href="img/sprite.svg#person"></use>
      </svg>
    </a>
  </div>
  <button class="sidebar__burger burger btn-reset js-burger">Menu<span class="burger__line"></span></button>
</header>
