<div class="sidebar">
  <div class="sidebar__body">
    <a class="logo">
      <svg class="logo__icon">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Shoes</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Bags</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Accessories <span class="_tag">New</span></a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link font-styles ">Support</a>
        </li>
      </ul>
    </nav>

    <div class="sidebar__adv">
      <div class="sidebar__adv--bg">
        <span class="sidebar__adv--text">Extra</span>
      </div>
      <div class="sidebar__adv--clean">
        <span class="sidebar__adv--text">Foot</span>
      </div>
      <div class="sidebar__adv--bg">
        <span class="sidebar__adv--text">Care</span>
      </div>
      <div class="sidebar__adv--clean">
        <span class="sidebar__adv--text">Tech</span>
      </div>
    </div>

    <div class="sidebar__link">
      <div class="sidebar__link--line"></div>
      <a href="#" class="sidebar__link--more">learn more</a>
    </div>

    <div class="scroll">
      <a href="#" class="scroll__link">Scroll down</a>
    </div>
  </div>
  <div class="user-panel">
    <form action="#" class="search">
      <button type="button" class="search__btn btn-reset js-btn">
        <svg class="search__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <a href="#" class="user-panel__item ">
      <svg class="user-panel__icon">
        <use xlink:href="img/sprite.svg#basket"></use>
      </svg>
    </a>
    <a href="#" class="user-panel__item ">
      <svg class="user-panel__icon">
        <use xlink:href="img/sprite.svg#person"></use>
      </svg>
    </a>
  </div>
</div>
