<div class="swiper slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider__slide">
      <div class="slider__item">
        <p class="slider__subtitle font-styles">Great choise; Adaptive</p>
        <h1 class="slider__title font-styles">Comfy Maxer <sup class="slider__title--symbol">&reg;</sup></h1>
        <p class="slider__desc font-styles">
          Our shoes fuse together an insole that cushions every move, laces that you’ll never need to tie again, and
          an odor-fighting copper thread lining.
        </p>
        <div class="slider__cta">
          <button type="submit" class="btn btn-reset btn--dark btn--bag font-styles">
            <svg class="btn__icon btn__icon--bag">
              <use xlink:href="img/sprite.svg#shop-bag"></use>
            </svg> Add To Cart</button>
          <button type="button" class="btn btn-reset btn--play font-styles modal__btn">
            <svg class="btn__icon btn__icon--play">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg> Watch Intro</button>
        </div>
      </div>
      <div class="slider__pic">
        <picture>
          <source srcset="img/shoe.webp" type="image/webp">
          <img loading="lazy" src="img/shoe.png" class="gallery__pic--img" width="900" height="480" alt="Shoe pic">
        </picture>
      </div>
    </div>
    <div class="swiper-slide slider__slide">
      <div class="slider__item">
        <p class="slider__subtitle font-styles">Great choise; Adaptive</p>
        <h1 class="slider__title font-styles">Comfy Maxer <sup class="slider__title--symbol">&reg;</sup></h1>
        <p class="slider__desc font-styles">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur cum ipsam quidem deleniti doloribus odio,
          velit dolorem exercitationem, vitae excepturi tempora vero?
        </p>
        <div class="slider__cta">
          <button type="submit" class="btn btn-reset btn--dark btn--bag font-styles">
            <svg class="btn__icon btn__icon--bag">
              <use xlink:href="img/sprite.svg#shop-bag"></use>
            </svg> Add To Cart</button>
          <button class="btn-reset btn btn--play font-styles modal__btn">
            <svg class="btn__icon btn__icon--play">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg> Watch Intro
          </button>
        </div>
      </div>
      <div class="slider__pic">
        <picture>
          <source srcset="img/setshoe.webp" type="image/webp">
          <img loading="lazy" src="img/setshoe.png" class="gallery__pic--img" width="900" height="480"
            alt="A woman in a black dress">
        </picture>
      </div>
    </div>
    <div class="swiper-slide slider__slide">
      <div class="slider__item">
        <p class="slider__subtitle font-styles">Great choise; Adaptive</p>
        <h1 class="slider__title font-styles">Comfy Maxer <sup class="slider__title--symbol">&reg;</sup></h1>
        <p class="slider__desc font-styles">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam laborum porro harum repellat? Accusamus,
          modi non consequuntur. Id facilis earum esse fugit dignissimos.
        </p>
        <div class="slider__cta">
          <button type="submit" class="btn btn-reset btn--dark btn--bag font-styles">
            <svg class="btn__icon btn__icon--bag">
              <use xlink:href="img/sprite.svg#shop-bag"></use>
            </svg> Add To Cart</button>
          <button class="btn-reset btn btn--play font-styles modal__btn">
            <svg class="btn__icon btn__icon--play">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg> Watch Intro
          </button>
        </div>
      </div>
      <div class="slider__pic">
        <picture>
          <source srcset="img/runshoes.webp" type="image/webp">
          <img loading="lazy" src="img/runshoes.png" class="gallery__pic--img" width="900" height="480"
            alt="A woman in a silk blouse">
        </picture>
      </div>
    </div>
  </div>
  <div class="swiper-pagination slider__pag font-styles"></div>
</div>
