// colors
:root {
  // base
  --font-family: "Sofia Pro", sans-serif;
  --content-width: 1440px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --mobile-header-height: 80px;
  // colors
  --light-color: #fff;
  --dark-color: #131418;
  --body-color: #3A3A3A;
  --grey-color:  #808080;
  --line-color: #E9E9E9;
  --accent-color: #ECCA7B;
}

$desktop: "(min-width: 999px)";
$tablet: "(min-width: 600px) and (max-width: 998px )";
$mobile: "(max-width: 599px)";
$up-to-desktop: "(max-width: 998px)";

